<div class="card m-0 border-2 bg-green-100" [ngClass]="{'bg-red-200': !validation.validationState}">
    <div class="col-12 sm:col-12 md:col-12">
        <div class="mb-3">
            <p class="text-primary text-md font-medium">Nombre revisor:
                <span style="color: var(--text-color);">
                    {{validation.person?.firstName}}
                    {{validation.person?.secondName ?? ''}}
                    {{validation.person?.firstLastName}}
                    {{validation.person?.secondLastName ?? ''}}
                </span>
            </p>
            <p class="text-primary text-md font-medium">Rol:
                <span style="color: var(--text-color);">
                    {{validation.person?.user?.userRoles?.[0]?.role?.name}}
                </span>
            </p>
            <p class="text-primary text-md font-medium">Fecha:
                <span style="color: var(--text-color);">
                    {{validation.updateAt | date: 'dd/MM/yyyy HH:mm'}}
                </span>
            </p>
            <p class="text-primary text-md font-medium">Estado de la información:
                @if (validation.validationState) {
                <span class="font-bold" style="color: var(--text-color);">
                    Correcta
                </span>
                <i class="pi pi-verified" style="font-size: 1.3rem; color: var(--green-500)"></i>
                }
                @else{
                <span class="font-bold" style="color: var(--text-color);">
                    Incorrecta
                </span>
                <i class="pi pi-times" style="font-size: 1.3rem; color: var(--red-500)"></i>
                }
            </p>
            <p class="text-primary text-md font-medium">Observaciones:
                <span style="color: var(--text-color);">
                    {{validation.observations ?? 'Sin observaciones'}}
                </span>
            </p>
        </div>
    </div>
</div>