<div class="container">
    <div class="">
        <h2>
            Solicitud de reconocimiento de producción intelectual
        </h2>
    </div>
    <div class="flex flex-column ga py-2 mb-3">
        <span class="text-primary mb-1">
            Paso 5 - Completar formulario - Datos específicos de la producción y/o reconocimiento seleccionado
            anteriormente
        </span>
        <p-progressbar [value]="60" />
    </div>
    <div class="container-form">
        <form action="" [formGroup]="registerSpecificProductionDataForm" (submit)="onSubmit()">
            <div class="mt-2">
                <h5 class="">
                    Completa según corresponda
                </h5>
            </div>
            <div class="grid">
                <div class="col-12 sm:col-6 md:col-4">
                    <label for="magazineType" class="block text-primary text-md font-medium mb-2">
                        Tipo revista <span class="text-orange-500">*</span>
                    </label>
                    <div class="flex gap-3">
                        @for (item of magazineTypeDataList; track $index) {
                        <div class="field-checkbox">
                            <p-radiobutton [value]="item.key" formControlName="magazineType" [styleClass]="
                                (registerSpecificProductionDataForm.get('magazineType')?.hasError('required') && 
                                registerSpecificProductionDataForm.get('magazineType')?.touched ? 'ng-invalid' : '') + 
                                'ng-dirty'" />
                            <label [for]="item.key" class="ml-2"> {{ item.value }} </label>
                        </div>
                        }
                    </div>
                    @if (this.registerSpecificProductionDataForm.get('magazineType')?.hasError('required') &&
                    this.registerSpecificProductionDataForm.get('magazineType')?.touched){
                    <div class="text-error text-sm mt-1">
                        Debe seleccionar al menos un tipo de revista
                    </div>
                    }
                </div>
                <div class="col-12 sm:col-6 md:col-4">
                    <label for="doi" class="block text-primary text-md font-medium mb-2">
                        DOI
                    </label>
                    <input id="disciplinaryArea" type="text" formControlName="doi" placeholder="Digitar respuesta"
                        pInputText class="w-full">
                    @if (this.registerSpecificProductionDataForm.get('doi')?.hasError('required') &&
                    this.registerSpecificProductionDataForm.get('doi')?.touched){
                    <div class="text-error text-sm mt-1">
                        El DOI es requerido
                    </div>
                    }
                </div>
                <div class="col-12 sm:col-6 md:col-4">
                    <label for="issn" class="block text-primary text-md font-medium mb-2">
                        ISSN <span class="text-orange-500">*</span>
                    </label>
                    <input id="disciplinaryArea" type="text" formControlName="issn" placeholder="Digitar respuesta"
                        pInputText class="w-full">
                    @if (this.registerSpecificProductionDataForm.get('issn')?.hasError('required') &&
                    this.registerSpecificProductionDataForm.get('issn')?.touched){
                    <div class="text-error text-sm mt-1">
                        El ISSN es requerido
                    </div>
                    }
                </div>
                <div class="col-12 sm:col-6 md:col-4">
                    <label for="publindexCategory" class="block text-primary text-md font-medium mb-2">
                        Categoría publindex <span class="text-orange-500">*</span>
                    </label>
                    <div class="flex gap-3">
                        @for (item of publindexCategoryDataList; track $index) {
                        <div class="field-checkbox">
                            <p-radiobutton [value]="item.key" formControlName="publindexCategory" [styleClass]="
                                (registerSpecificProductionDataForm.get('publindexCategory')?.hasError('required') && 
                                registerSpecificProductionDataForm.get('publindexCategory')?.touched ? 'ng-invalid' : '') + 
                                'ng-dirty'" />
                            <label [for]="item.key" class="ml-2"> {{ item.value }} </label>
                        </div>
                        }
                    </div>
                    @if (this.registerSpecificProductionDataForm.get('publindexCategory')?.hasError('required') &&
                    this.registerSpecificProductionDataForm.get('publindexCategory')?.touched){
                    <div class="text-error text-sm mt-1">
                        Debe seleccionar al menos un tipo de revista
                    </div>
                    }
                </div>

                <div class="col-12 sm:col-6 md:col-4">
                    <label for="startDate" class="block text-primary text-md font-medium mb-2">
                        Fecha inicio <span class="text-orange-500">*</span>
                    </label>
                    <p-datepicker placeholder="Seleccione fecha inicio" formControlName="startDate" class="w-full"
                        showIcon iconDisplay="input" />
                    @if (this.registerSpecificProductionDataForm.get('startDate')?.hasError('required') &&
                    this.registerSpecificProductionDataForm.get('startDate')?.touched){
                    <div class="text-error text-sm mt-1">
                        La fecha de inicio es requerida
                    </div>
                    }
                </div>
                <div class="col-12 sm:col-6 md:col-4">
                    <label for="endDate" class="block text-primary text-md font-medium mb-2">
                        Fecha fin <span class="text-orange-500">*</span>
                    </label>
                    <p-datepicker placeholder="Seleccione fecha fin" formControlName="endDate" class="w-full" showIcon
                        iconDisplay="input" />
                    @if (this.registerSpecificProductionDataForm.get('endDate')?.hasError('required') &&
                    this.registerSpecificProductionDataForm.get('endDate')?.touched){
                    <div class="text-error text-sm mt-1">
                        La fecha fin es requerida
                    </div>
                    }
                </div>
            </div>

            <div class="grid">
                <div class="col-12 sm:col-6 md:col-4">
                    <label for="articleType" class="block text-primary text-md font-medium mb-2">
                        Tipo artículo <span class="text-orange-500">*</span>
                    </label>
                    <div class="flex flex-column gap-2">
                        @for (item of articleTypeDataList; track $index) {
                        <div class="field-checkbox">
                            <p-radiobutton [value]="item.key" formControlName="articleType" [styleClass]="
                                (registerSpecificProductionDataForm.get('articleType')?.hasError('required') && 
                                registerSpecificProductionDataForm.get('articleType')?.touched ? 'ng-invalid' : '') + 
                                'ng-dirty'" />
                            <label [for]="item.key" class="ml-2"> {{ item.value }} </label>
                        </div>
                        }
                    </div>
                    @if (this.registerSpecificProductionDataForm.get('articleType')?.hasError('required') &&
                    this.registerSpecificProductionDataForm.get('articleType')?.touched){
                    <div class="text-error text-sm mt-1">
                        Debe seleccionar al menos un tipo de artículo
                    </div>
                    }
                </div>
            </div>

            <div class="col-12 sm:col-5 flex flex-row gap-2 pl-0 mt-3">
                <button pButton severity="secondary" type="button" pRipple label="Anterior" [disabled]="false"
                    class="w-full border-round" [routerLink]="['../../registrar-tipo-produccion/step-4']">
                </button>
                <button pButton pRipple label="Guardar" type="submit"
                    [disabled]="!registerSpecificProductionDataForm.valid" class="w-full border-round">
                </button>
                <button pButton pRipple label="Siguiente" type="button" [disabled]="isDisabledNextStep"
                    class="w-full border-round" [routerLink]="['../../registrar-trabajos-relacionados/step-6']">
                </button>
            </div>
        </form>
    </div>
    <!-- Dialog alert -->
    <p-toast />
    <p-confirmdialog />
</div>