<div class="container">
    <div class="">
        <h2>
            Solicitud de reconocimiento de producción intelectual
        </h2>
    </div>
    <div class="flex flex-column ga py-2 mb-3">
        <span class="text-primary mb-1">
            Paso 3 - Completar formulario - Datos de la producción y/o reconocimiento
        </span>
        <p-progressbar [value]="30" />
    </div>
    <div class="container-form">
        <form action="" [formGroup]="registerGeneralProductionDataForm" (submit)="onSubmit()">
            <div class="mt-2">
                <h5 class="">
                    Datos de la producción y/o reconocimiento
                </h5>
            </div>
            <div class="grid">
                <div class="col-12 sm:col-6 md:col-4">
                    <label for="title" class="block text-primary text-md font-medium mb-2">
                        Título trabajo y/o reconocimiento <span class="text-orange-500">*</span>
                    </label>
                    <input id="title" type="text" formControlName="title" placeholder="Tu nombre" pInputText
                        class="w-full">
                    @if (this.registerGeneralProductionDataForm.get('title')?.hasError('required') &&
                    this.registerGeneralProductionDataForm.get('title')?.touched){
                    <div class="text-error text-sm mt-1">
                        El título es requerido
                    </div>
                    }
                </div>
                <div class="col-12 sm:col-6 md:col-4">
                    <label for="disciplinaryArea" class="block text-primary text-md font-medium mb-2">
                        Área disciplinar <span class="text-orange-500">*</span>
                    </label>
                    <input id="disciplinaryArea" type="text" formControlName="disciplinaryArea"
                        placeholder="Tu segundo nombre" pInputText class="w-full">
                </div>

                <div class="col-12 sm:col-6 md:col-4">
                    <label for="numberPages" class="block text-primary text-md font-medium mb-2">
                        Número de folios útiles <span class="text-orange-500">*</span>
                    </label>
                    <p-inputnumber inputId="integeronly" formControlName="numberPages" class="w-full"
                        placeholder="Digitar respuesta" />
                    @if (this.registerGeneralProductionDataForm.get('numberPages')?.hasError('required') &&
                    this.registerGeneralProductionDataForm.get('numberPages')?.touched){
                    <div class="text-error text-sm mt-1">
                        El número de folios útiles es requerido
                    </div>
                    }
                </div>

                <div class="col-12 sm:col-6 md:col-4">
                    <label for="firstPage" class="block text-primary text-md font-medium mb-2">
                        Página de inicio <span class="text-orange-500">*</span>
                    </label>
                    <p-inputnumber inputId="integeronly" formControlName="firstPage" class="w-full"
                        placeholder="Digitar respuesta" />
                    @if (this.registerGeneralProductionDataForm.get('firstPage')?.hasError('required') &&
                    this.registerGeneralProductionDataForm.get('firstPage')?.touched){
                    <div class="text-error text-sm mt-1">
                        La página de inicio es requerida
                    </div>
                    }
                </div>

                <div class="col-12 sm:col-6 md:col-4">
                    <label for="finalPage" class="block text-primary text-md font-medium mb-2">
                        Página final <span class="text-orange-500">*</span>
                    </label>
                    <p-inputnumber inputId="integeronly" formControlName="finalPage" class="w-full"
                        placeholder="Digitar respuesta" />
                    @if (this.registerGeneralProductionDataForm.get('finalPage')?.hasError('required') &&
                    this.registerGeneralProductionDataForm.get('finalPage')?.touched){
                    <div class="text-error text-sm mt-1">
                        La página final es requerida
                    </div>
                    }
                </div>
            </div>
            <div class="grid">
                <div class="col-12 sm:col-6 md:col-4">
                    <label for="publicationMechanisms" class="block text-primary text-md font-medium mb-2">
                        Mecanismos de publicación <span class="text-orange-500">*</span>
                    </label>
                    <div class="flex flex-column gap-2">
                        @for (item of publicationMechanismsDataList; track $index) {
                        <div class="">
                            <p-checkbox name="groupPublicationMechanisms" [value]="item"
                                formControlName="publicationMechanisms" [binary]="false" [styleClass]="
                                (registerGeneralProductionDataForm.get('publicationMechanisms')?.hasError('required') && 
                                registerGeneralProductionDataForm.get('publicationMechanisms')?.touched ? 'ng-invalid' : '') + 
                                'ng-dirty'" />
                            <label [for]="item.key" class="ml-2"> {{ item.value }} </label>
                        </div>
                        }
                    </div>
                    @if (this.registerGeneralProductionDataForm.get('publicationMechanisms')?.hasError('required') &&
                    this.registerGeneralProductionDataForm.get('publicationMechanisms')?.touched){
                    <div class="text-error text-sm mt-1">
                        Debe seleccionar al menos un mecanismo de publicación
                    </div>
                    }
                </div>
                <div class="col-12 sm:col-6 md:col-4">
                    <label for="observations" class="block text-primary text-md font-medium mb-2">
                        Observaciones
                    </label>
                    <textarea rows="4" placeholder="Sus observaciones ..." cols="31" pTextarea [autoResize]="true"
                        formControlName="observations">
                    </textarea>
                </div>
            </div>

            <div class="col-12 sm:col-5 flex flex-row gap-2 pl-0 mt-3">
                <button pButton severity="secondary" type="button" pRipple label="Anterior" [disabled]="false"
                    class="w-full border-round" [routerLink]="['../../registrar-solicitantes/step-2']">
                </button>
                <button pButton pRipple label="Guardar" type="submit" class="w-full border-round">
                </button>
                <button pButton pRipple label="Siguiente" type="button" [disabled]="isDisabledNextStep"
                    class="w-full border-round" [routerLink]="['../../registrar-tipo-produccion/step-4']">
                </button>
            </div>
        </form>
    </div>
    <!-- Dialog alert -->
    <p-toast />
    <p-confirmdialog />
</div>