<div class="container">
    <div class="">
        <h2>
            Solicitud de reconocimiento de producción intelectual
        </h2>
    </div>
    <div class="flex flex-column ga py-2 mb-3">
        <span class="text-primary mb-1">
            Paso 4 - Registro del tipo de producción y/o reconocimiento
        </span>
        <p-progressbar [value]="50" />
    </div>
    <div class="container-form row">
        <form action="" [formGroup]="productionTypeRegisterForm" (submit)="onSubmit()">
            <div class="col-12 sm:col-5 mb-3 pl-0">
                <label for="productionType" class="block text-primary text-lg font-medium mb-2">
                    Tipo producción y/o reconocimiento <span class="text-orange-500">*</span>
                </label>
                <p-select class="p-3" [options]="productionTypeDataList" [required]="true" [showClear]="true"
                    formControlName="productionType" optionValue="key" optionLabel="value" [filter]="true" filterBy="value"
                    placeholder="Seleccione el tipo de producción" class="w-full md:w-56" />
                @if (this.productionTypeRegisterForm.get('productionType')?.hasError('required') &&
                this.productionTypeRegisterForm.get('productionType')?.touched){
                <div class="text-error text-sm mt-1">
                    Debe seleccionar un tipo de producción y/o reconocimiento
                </div>
                }
            </div>
            <div class="col-12 sm:col-6 flex flex-row gap-2 pl-0 mt-3">
                <button pButton severity="secondary" type="button" pRipple label="Anterior" [disabled]="false"
                    class="w-full border-round" [routerLink]="['../../registrar-datos-generales-produccion/step-3']">
                </button>
                <button pButton pRipple label="Guardar" type="submit" [disabled]="!productionTypeRegisterForm.valid"
                    class="w-full border-round">
                </button>
                <button pButton pRipple label="Siguiente" type="button" [disabled]="isDisabledNextStep"
                    class="w-full border-round" [routerLink]="['../../registrar-datos-especificos-produccion/step-5']">
                </button>
            </div>
        </form>
    </div>
    <!-- Dialog alert -->
    <p-toast />
    <p-confirmdialog />
</div>