<div class="container">
    <div class="">
        <h2>Configuración del sistema</h2>
    </div>
    <div class="flex flex-column ga py-2 mb-3">
        <span class="text-primary mb-1">
            Paso 1 - Registro de facultad
        </span>
        <p-progressbar [value]="33" />
    </div>
    <div class="container-form row">
        <form action="" [formGroup]="registerForm" (submit)="onSubmit()">
            <div class="col-12 sm:col-5 mb-3 pl-0">
                <label for="faculty" class="block text-primary text-lg font-medium mb-2">
                    Facultad <span class="text-orange-500">*</span>
                </label>
                <p-select class="p-3" [options]="facultiesList" [required]="true" [showClear]="true"
                    formControlName="faculty" optionLabel="value" [filter]="true" filterBy="value"
                    placeholder="Seleccione una facultad" class="w-full md:w-56" />
                @if (this.registerForm.get('faculty')?.hasError('required') &&
                this.registerForm.get('faculty')?.touched){
                <div class="text-error text-sm mt-1">
                    Debe seleccionar una facultad
                </div>
                }
            </div>
            <div class="col-12 sm:col-5 flex flex-row gap-2 pl-0">
                <button pButton severity="secondary" pRipple label="Anterior" [disabled]="true"
                    class="w-full border-round">
                </button>
                <button pButton pRipple label="Guardar" type="submit" [disabled]="!registerForm.valid || disabledOnSubmit"
                    class="w-full border-round">
                </button>
                <button pButton pRipple label="Siguiente" type="button" [disabled]="isDisabledNextStep"
                    class="w-full border-round" [routerLink]="['../registrar-cpd']">
                </button>
            </div>
        </form>
    </div>
    <!-- Dialog alert -->
    <p-toast />
    <p-confirmdialog />
</div>