<div class="container">
    <div class="">
        <h2>Configuración del sistema</h2>
    </div>
    <div class="flex flex-column mb-3 py-2">
        <span class="text-primary mb-1">
            Paso 2 - Registro de la Secretaria del Comité de Asignación y Reconocimiento de Puntaje (CIARP)
        </span>
        <p-progressbar [value]="100" />
    </div>
    <div class="container-form pt-3">
        <form action="" [formGroup]="registerCiarpSecretaryForm" (submit)="onSubmit()">
            <app-form-body-committe-member [formGroup]="registerCiarpSecretaryForm"
                [identificationTypeDataList]="identificationTypeDataList">
            </app-form-body-committe-member>
            <div class="col-12 sm:col-7 flex flex-row gap-2 pl-0">
                <button pButton type="button" severity="secondary" pRipple label="Anterior" [disabled]="false"
                    class="w-full border-round" [routerLink]="['../registrar-ciarp']">
                </button>
                <button pButton pRipple type="submit" label="Guardar" class="w-full border-round">
                </button>
            </div>
        </form>
    </div>
    <!-- Dialog alert -->
    <p-toast />
    <p-confirmdialog  />
</div>