<div class="container">
    <div class="">
        <h2>
            Solicitud de reconocimiento de producción intelectual
        </h2>
    </div>
    <div class="flex flex-column ga py-2 mb-3">
        <span class="text-primary mb-1">
            Paso 1 - Registro del tipo de solicitud
        </span>
        <p-progressbar [value]="10" />
    </div>
    <div class="container-form row">
        <form action="" [formGroup]="registerForm" (submit)="onSubmit()">
            <div class="col-12 sm:col-5 mb-3 pl-0">
                <label for="applicationType" class="block text-primary text-lg font-medium mb-2">
                    Tipo de solicitud <span class="text-orange-500">*</span>
                </label>
                <p-select class="p-3" [options]="applicationTypes" [required]="true" [showClear]="true"
                    formControlName="applicationType" optionLabel="value" [filter]="true" filterBy="value"
                    placeholder="Seleccione el tipo de solicitud" class="w-full md:w-56" />
                @if (this.registerForm.get('applicationType')?.hasError('required') &&
                this.registerForm.get('applicationType')?.touched){
                <div class="text-error text-sm mt-1">
                    Debe seleccionar un tipo de solicitud
                </div>
                }
            </div>
            <div class="col-12 sm:col-6 flex flex-row gap-2 pl-0">
                <button pButton severity="secondary" pRipple label="Anterior" [disabled]="true"
                    class="w-full border-round">
                </button>
                <button pButton pRipple label="Guardar" type="submit" [disabled]="!registerForm.valid"
                    class="w-full border-round">
                </button>
                <button pButton pRipple label="Siguiente" type="button" [disabled]="!isDisabledNextStep"
                    class="w-full border-round" [routerLink]="['../registrar-solicitantes/step-2']">
                </button>
            </div>
        </form>
    </div>
    <!-- Dialog alert -->
    <p-toast />
    <p-confirmdialog />
</div>