<div class="container">
    <div class="">
        <h2>
            Solicitud de reconocimiento de producción intelectual
        </h2>
    </div>
    <div class="flex flex-column ga py-2 mb-3">
        <span class="text-primary mb-1">
            Paso 7 - Términos y condiciones
        </span>
        <p-progressbar [value]="90" />
    </div>
    <div class="container-form">
        <form action="" [formGroup]="termsAndConditionsForm" (submit)="onSubmit()">
            <div class="mt-2">
                <h5 class="">
                    Términos y condiciones
                </h5>
            </div>
            <div class="">
                <p>
                    Dejo constancia expresa que el presente trabajo no ha sido objeto de anteriores reconocimientos y
                    que éste no corresponde a informes de trabajos realizados en el marco de contratos o convenios
                    interinstitucionales que han sido objeto del reconocimiento de estímulos económicos. Lo anterior de
                    conformidad con las leyes y normas, reglamento y estatutos de la Universidad del Cauca existentes
                    sobre producción intelectual y derechos de autor.</p>
                <p>
                    Yo, <span class="font-bold"> {{nameMainApplicant}} </span>, manifiesto que previo a la presente
                    solicitud, he revisado que la productividad anexa al presente documento no se encuentra en revista
                    predadoras o pséudo- journal.
                    No obstante, en caso de que se presente inconsistencias respecto a la legitimidad del mismo,
                    autorizo para que se realicen las gestiones administrativas que correspondan. </p>
                <p>
                    Igualmente, autorizo la notificación electrónica que resulte de la presente solicitud, en los
                    términos de la Ley 1437 de 2011.
                </p>
            </div>
            <div class="grid mt-3">
                <div class="col-12 sm:col-6 md:col-4">
                    <div class="flex flex-column gap-2">
                        <div class="">
                            <p-checkbox name="grouptermsAndConditions" [value]="true"
                                formControlName="termsAndConditions" [binary]="false" [styleClass]="
                                (termsAndConditionsForm.get('termsAndConditions')?.hasError('required') && 
                                termsAndConditionsForm.get('termsAndConditions')?.touched ? 'ng-invalid' : '') + 
                                'ng-dirty'" />
                            <label for="termsAndConditions" class="ml-2">Acepto terminos y condiciones</label>
                        </div>
                    </div>
                    @if (this.termsAndConditionsForm.get('termsAndConditions')?.hasError('required') &&
                    this.termsAndConditionsForm.get('termsAndConditions')?.touched){
                    <div class="text-error text-sm mt-1">
                        Debe aceptar los términos y condiciones
                    </div>
                    }
                </div>
            </div>

            <div class="col-12 sm:col-6 flex flex-row gap-2 pl-0 mt-3">
                <button pButton severity="secondary" type="button" pRipple label="Anterior" [disabled]="false"
                    class="w-full border-round" [routerLink]="['../../registrar-trabajos-relacionados/step-6']">
                </button>
                <button pButton pRipple label="Guardar" [disabled]="!termsAndConditionsForm.valid" type="submit"
                    class="w-full border-round">
                </button>
                <button pButton pRipple label="Siguiente" type="button" [disabled]="isDisabledNextStep"
                    class="w-full border-round"
                    [routerLink]="['../../subir-archivos/step-8']">
                </button>
            </div>
        </form>
    </div>
    <!-- Dialog alert -->
    <p-toast />
    <p-confirmdialog />
</div>